<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book Details</title>
    <link rel= "stylesheet" th:href="@{/style.css}" media="all" />
</head>
<body>
<div class="flex-container">
    <header>
        <h1>The Best Books in the WORLD</h1>
        Read Them All!
    </header>

    <nav class="nav">

        <ul>
            <li><a th:href="@{/book/add}">Add new Book</a></li>
            <li></li>
            <li></li>
        </ul>

    </nav>

    <article class="article">
        <h1>Book Details</h1>

        TITLE:
        <span th:text="${details.title}">Title</span> -
        AUTHOR:
        <span th:text="${details.author}">Author</span> -
        PRICE:
        <span th:text="${details.price}">Price</span> PLN



        <div>
            <a th:href="@{/book/add}"><button type="button">Add new</button></a>
            <a th:href="@{/book}"><button type="button">Back</button></a>

        </div>
    </article>

    <footer>Copyright &copy; Norbert Ciak</footer>
</div>




</body>
</html>